<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Carrito</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>


<!-- ================= NAVBAR ================= -->

<nav>

<h2 class="logo">

Fashion Store

</h2>

<ul>

<li>

<a href="/productos">

Categorías

</a>

</li>

<li>

<a href="/login">

Mi Cuenta

</a>

</li>

<li>

<a href="/carrito">

🛒 Carrito ({{ cantidad }})

</a>

</li>

</ul>

</nav>



<!-- ================= TITULO ================= -->

<h1 class="titulo">

🛒 Mi Carrito

</h1>



{% if carrito %}


<!-- ================= CONTENEDOR CARRITO ================= -->

<div class="carrito-box">


<div class="carrito-grid">


<!-- IZQUIERDA → PRODUCTOS -->

<div>


{% for p in carrito %}

<div class="producto">


<img
src="{{ url_for(
'static',
filename='img/' + p.imagen
) }}">



<div>


<h2>

{{ p.nombre }}

</h2>


<p class="precio">

S/.{{ p.precio }}

</p>


<a href="/eliminar/{{ p.id }}" class="btn-eliminar">
    Eliminar
</a>


</div>


</div>

{% endfor %}


</div>



<!-- DERECHA → RESUMEN -->

<div class="resumen">


<h2>

Resumen del pedido

</h2>

<br>


<p>

Cantidad:

<b>

{{ cantidad }}

</b>

</p>


<br>


<p>

Total:

</p>


<h1 class="total">

S/.{{ total }}

</h1>


<br>


<a href="/dashboard">

<button class="btn-pagar">

Proceder a pagar 

</button>

</a>


<br><br>


<a href="/vaciar">

<button>

Vaciar carrito 🗑️

</button>

</a>


</div>


</div>


</div>


{% else %}



<!-- ================= CARRITO VACIO ================= -->

<div
style="
text-align:center;
margin-top:80px;
">

<h2>

Tu carrito está vacío 🛒

</h2>

<br>


<a href="/productos">

<button>

Ir a comprar

</button>

</a>


</div>


{% endif %}



<!-- ================= FOOTER ================= -->

<footer>

<p>

© 2026 Fashion Store

</p>

</footer>


</body>

</html>