<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Fashion Store</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- NAVBAR -->

<nav>

<h2 class="logo">

Fashion Store

</h2>

<ul>

<li><a href="/productos">Categorias</a></li>

<li><a href="/login">Mi Cuenta</a></li>

<li>

<a href="/carrito">

🛒 Carrito ({{ cantidad }})

</a>

</li>

</ul>

</nav>

<!-- PORTADA -->

<header>

<div class="texto">

<h1>

Nueva
<span>Colección</span>

</h1>

<p>

Descubre camisetas,
shorts y polos deportivos.

</p>

<a href="/productos">

<button class="boton">

Ver Catálogo

</button>

</a>

</div>

<img
class="hero-img"

src="{{ url_for('static', filename='img/portada.jpg') }}">

</header>

<!-- DESTACADOS -->

<h2 class="titulo">

Productos Destacados

</h2>

<div class="contenedor">

<!-- PRODUCTO 1 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/camiseta1.webp') }}">

<div class="info">

<h2>

Camiseta Bélgica

</h2>

<p class="precio">

S/.120

</p>

<a href="/agregar/1">

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

<!-- PRODUCTO 2 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/sh1.webp') }}">

<div class="info">

<h2>

Short 

</h2>

<p class="precio">

S/.70

</p>

<a href="/agregar/9">

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

<!-- PRODUCTO 3 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/polo1.webp') }}">

<div class="info">

<h2>

Polo Camisero

</h2>

<p class="precio">

S/.90

</p>

<a href="/agregar/17"></a>

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

<!-- PRODUCTO 4 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/camiseta2.webp') }}">

<div class="info">

<h2>

Camiseta Brasil

</h2>

<p class="precio">

S/.130

</p>

<a href="/agregar/2">

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

<!-- PRODUCTO 5 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/sh2.webp') }}">

<div class="info">

<h2>

Short 

</h2>

<p class="precio">

S/.75

</p>

<a href="/agregar/10">

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

<!-- PRODUCTO 6 -->

<div class="card">

<img
src="{{ url_for('static', filename='img/polo2.webp') }}">

<div class="info">

<h2>

Polo Camisero

</h2>

<p class="precio">

S/.85

</p>

<a href="/agregar/18">

<button>

Agregar al carrito

</button>

</a>

</div>

</div>

</div>

<!-- INFO -->

<section
class="info-extra">

<h2>

Calidad y Estilo

</h2>

<p>

Explora nuestra colección
de ropa.

</p>

</section>

<!-- FOOTER -->

<footer>

<div class="footer-grid">

<div>

<h2>Fashion Store</h2>

<p>
Encuentra las mejores camisetas, polos y ropa deportiva con la mejor calidad.
</p>

</div>

<div>

<h3>Contáctanos</h3>

<p>📍 Lima - Perú</p>

<p>📞 987 654 321</p>

<p>✉ fashionstore@gmail.com</p>

</div>

</div>

<div class="copy">

© 2026 Fashion Store | Todos los derechos reservados.

</div>

</footer>